In [25]:
import pandas as pd
import numpy as np

1.

In [2]:
pd.__version__

'2.1.0'

2.

In [47]:
df = pd.read_csv(filepath_or_buffer="housing.csv")
df.shape

(20640, 10)

3.

In [43]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

4.

In [6]:
df.ocean_proximity.nunique()

5

5.

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [46]:
df_ocean: pd.DataFrame = df.query(expr="ocean_proximity =='NEAR BAY'")
df_ocean['median_house_value'].mean()

259212.31179039303

6.

In [45]:
mean: float = df['total_bedrooms'].mean()
print(round(number=mean, ndigits=3))

df_6 = df['total_bedrooms'].fillna(value=mean)
round(number=df_6.mean(),ndigits=3)

537.871

537.871

7.

In [19]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [53]:
df_7: pd.DataFrame = df.query(expr="ocean_proximity == 'ISLAND'")

In [55]:
from numpy import ndarray

X = np.array(object=df_7[['housing_median_age', 'total_rooms', 'total_bedrooms']])
XTX = (X.T).dot(X)
print(f"XTX: {XTX}")

iXTX = np.linalg.inv(XTX)

y = np.array(object=[950, 1300, 800, 1000, 1300])

w = (iXTX.dot(X.T)).dot(y)
w[-1]

XTX: [[9.6820000e+03 3.5105300e+05 9.1357000e+04]
 [3.5105300e+05 1.4399307e+07 3.7720360e+06]
 [9.1357000e+04 3.7720360e+06 9.9835800e+05]]

5.699229455065586